.App {
  text-align: center;
}
body{
  background-color: #d3f2e5;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #244485;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  margin: 0;
  overflow: hidden;
}
/* 
body{
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpg");
} */
.homeHeading{
  text-align: center;
  font-weight: 800;
  font-size: 27px;
  padding-top: 1rem;
}
.firstContHome {
  /* background-color: aliceblue; */
  /* background-color: #0093E9; */
background-image: linear-gradient(160deg, #562e9b 0%, #8b2692 100%);

  /* position: relative; */
  height: 4.5rem;
}

.ButConHome{
  display: flex;
  position: absolute;
  right: 5rem;
  top: 1rem;
  gap: 10px;
}

.homeBody{
  /* background-image: url("https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&w=400"); */
  height: 100%;
  width: 100%;
}



.homeImg {
  width: 100vw;
  height: 100vh;
}

.cardForm {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}



.SignupForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: rgb(230, 251, 136);
  width: 25%;
  min-width: 25rem;
  /* height: 50%; */
  height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.Sbutn {
  padding: 5px 35px;
  border-radius: 10px;
  /* border: 2px solid lawngreen; */
}
.sInp {
  width: 50%;
    height: 1.7rem;
    border-radius: 7px;
    text-align: center;
}

.lockImg {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  /* padding-top: 15px; */
  margin-bottom: -10px;
}
/* .comBut{
  padding: 0.5rem 1rem;
} */

.TheFooterCon {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background-image: linear-gradient(90deg, #0f2bca 0%, #aa49b0 100%);

  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.TheFooter{
  color: wheat;
}


.loginForm {
  position: absolute;
  top: 25%;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: aliceblue; */
}

.logComCon {
  background-color: aliceblue;
  height: 15rem;
  width: 30%;

  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: aliceblue;
  width: 25%;

  justify-content: center;
  align-items: center;
  border-radius: 20px;
  min-width: 20rem;
}


.lLoginInp{
  height: 1.7rem;
  border-radius: 7px;
  text-align: center;
}



.homeText {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100px;
}

.logoutBut {
  position: absolute;
  right: 6rem;
  top: 1rem;
}

.homeLogOut {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-size: 16px;
}
.regCon{
  height: 100vh;
  display: flex;
}


.SignText {
  position: absolute;
  color: lavenderblush;
  left: 47%;
  top: 20%;
  font-size: larger;
  font-family: auto;
  font-weight: 900;
}

.loginText {
  position: absolute;
  color: lavenderblush;
  left: 47%;
  top: 20%;
  font-size: larger;
  font-family: auto;
  font-weight: 900;
}

.backButtn {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 16px;
  font-family: auto;
  padding: 0.4rem 0.8rem;
  border-radius: 9px;
}